/* ----------------------------(color-variables)------------------------------ */
:root {
  --blue-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #757575;
  --black-text-color: #212121;
  --gray-background-color: #2f303a;
  --card-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  --card-shadow-hight: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

/* BODY */

body {
  font-family: 'roboto', 'montserrat', sans-serif;
  color: var(--black-color);
  /* +++++++++++++++++++++++++такі розміри у макеті++++++++++++++++++++++++ */
  /* width: 1600px;
  margin: auto; */
  /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

.decoration-link {
  text-decoration: none;
  color: var(--black-color);
}

.decoration-point {
  list-style: none;
  padding: 0;
}

/* text hiden */

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------------HEADER-------------------------------- */
.container-header{
  display: flex;
  align-items: center;
  /* height: 80px; */
  border-bottom: 1px solid#ECECEC;
  
}

.logo {
  display: flex;
  padding-right: 93px;
  padding-left: 375px;
}

.studio-logo {
  font-family: "raleway",sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31 \ 26;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.list-contact, .list-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 16 \ 14;
    letter-spacing: 0.02em;
}

.list-nav {
  display: flex;
  margin: 0;
}

.list-nav .item:not(:last-child) {
  padding-right: 50px;
}

.item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
}

.list-contact {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 375px;


}

.list-contact .item:not(:last-child) {
  padding-right: 50px;
}

.web-logo {
  color: var(--blue-color);
}

.item .link:hover,
.item .link:focus {
  color: var(--blue-color);
}

/* ---------------------------------------------------------------------- */
/* ----------------------------------MAIN-------------------------------- */

/* ==================================MAIN-1============================== */

/* SECTION HERO */

.section-hero {
  background-color: var(--gray-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 215px;
  padding-right: 215px;
  text-align: center;
}

.list-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 60 \ 44;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
}

.button {
  text-align: center;
  padding-top: 30px;
}

.button-hero {
  color: var(--white-color);
  background-color: var(--blue-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30 \ 16;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0;
  
  
}

.button-hero:hover,
.button-hero:focus {
  color: var(--black-color);
  background-color: var(--white-color);
}

/* SECTION FEATURES */

.features {
  padding-top: 94px;
  display: flex;
  margin-left: 375px;
  margin-right: 375px;
}
 
.features .item {
  margin-right: 15px;
}

.title-features {
  font-size: 14px;
  line-height: 16 \ 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text-color);
}

.paragraph-features {
  font-size: 14px;
  line-height: 24 \ 14;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.list-features {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

/* TITLE (заголовки) */

.title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
}

/* WORKS */

.section-works {
  align-items: center;
  margin: 0;
}

.list-works {
  display: flex;
  justify-content: center;
}

.item-works:not(:first-child) {
  padding-left: 30px;
}

/* TEAM */

.section-team {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-team {
  display: flex;
  justify-content: center;
}

.item-team {
  font-weight: 500;
  margin: 15px;
}

.paragraph-team {
  font-weight: 400;
  color: var(--gray-color);
}

/* ==================================MAIN-2================================= */

/* PORTFOLIO */

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-portfolio {
  padding-top: 94px;
}

.list-filter-portfolio {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 0;
}

.list-filter-portfolio .item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26 \ 16;
  text-align: center;
  letter-spacing: 0.03em;
}

.item-button {
  padding: 6px 25px;
  border: 0;
}

.item-button:focus,
.item-button:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.item-portfolio {
  width:calc((100% - 30px) \ 3);
  margin: auto;
  border-bottom: 1px solid #2f303a;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card-discription .title-portfolio {
  font-size: 18px;
  line-height: 36 \ 18;
  letter-spacing: 0.06em;
}

.card-discription .paragraph-portfolio {
  font-size: 16px;
  line-height: 30 \ 16;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/* ++++++++++++++++++!(ALERT)ТИМЧАСОВО!(ALERT)++++++++++++++++++++ */

.paragraph-hiden {
  display: none;
}

/* +++++++++++++++++!(ALERT)ТИМЧАСОВО!(ALERT)+++++++++++++++++++++ */
/* ------------------------------------------------------------------------- */
/* -------------------------------footer------------------------------------ */


.set-footer {
  background-color: var(--gray-background-color);
  cursor: pointer;
}



.logo-footer .studio-logo-footer {
  color: var(--white-color);
}

.logo-footer {
  font-family: "raleway",sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31 \ 26;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 20px;
}

.studio-logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.list-contact-address {
  font-style: normal;
  padding-left: 215px;
  padding-bottom: 60px;
  margin: 0;
  font-size: 14px;
  line-height: 24 \ 14;
  letter-spacing: 0.03em;
}

.style-address:hover,
.style-address:focus {
  color: var(--blue-color);
}

.styles-link {
  margin-bottom: 9px;
}

.link-address {
  color: var(--white-color);
}

.contact-link-address {
  color: var(--gray-color);
}
